.banner img {
  object-position: center 80%;
}

.container-wings .wing {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

@media (min-width: 480px) {
  .container-wings .wing {
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
  }
}

@media (min-width: 768px) {
  .container-wings .wing {
    width: 43rem;
  }
}

.container-wings .wing img {
  width: 100%;
}

.container-wings .wing .description { 
  padding: 2rem;
}

.container-wings .wing .description h1 { 
  font-size: 1.8rem;
}

.container-wings .wing .description h2 { 
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.container-wings .wing .description p {
  margin-top: 0.8rem;
}

.container-wings .wing .description p a {
  color: #222222;
  font-weight: 700;
  text-decoration: none;
}

.container-wings .wing .description p a:hover {
  color: #555555;
}

.container-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-members .member {
  background-color: #ffffff;
  margin: 0 0.5rem 1rem 0.5rem;
  text-align: center;
  width: 15rem;
}

.container-members .member img {
  display: block;
  width: 100%;
}

.container-members .member .description {
  padding: 1rem;
}

.container-members .member .description h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.container-members .member .description h2 {
  font-size: 0.8rem;
  font-weight: 400;
}

.container-members .member .description h3 {
  font-size: 0.8rem;
  font-weight: 300;
}
