footer
  .social-links
    .social-link
      a(href="https://www.facebook.com/nuscomputing"): i.fab.fa-facebook
      p.tooltip Facebook
    .social-link
      a(href="https://www.instagram.com/NUSComputingClub"): i.fab.fa-instagram
      p.tooltip Instagram
    .social-link
      a(href="https://t.me/nuscomputingclub"): i.fab.fa-telegram
      p.tooltip Telegram
    .social-link
      a(href="https://www.youtube.com/channel/UCVd-qsSFF328UUqcNxudy0w"): i.fab.fa-youtube
      p.tooltip YouTube
    .social-link
      a(href="https://github.com/NUSComputingDev"): i.fab.fa-github
      p.tooltip Github
    .social-link
      a(href="mailto:connect@nuscomputing.com"): i.fas.fa-envelope
      p.tooltip Email
  .citation
    p Copyright &copy; NUS Students' Computing Club
    p Page designed by #[a(href="https://github.com/nexolute") Eugene Lim]
    p Check out our #[a(href=`${baseUrl}/sponsors.html`) sponsors]
