extends ../../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/guides/default.css`)

block main
  .heading
    h1 SoC Student Award
  .container-guide
    .guide
      h1#introduction Introduction
      p.
        This is a new initiative to recognise non-academic achievements and contributions of our
        students. Drawing inspiration from the International Baccalaureate system of Creativity
        Activity Services, this system hopes to create a similar system to incentivise leadership
        while providing all-rounded enrichment beyond academics.
      p.
        Submission of your achievements will also help the school to identify students whom they may
        nominate for other Awards such as the SCS IT Youth Leader Award, or NUS Student Achievement
        Awards.
      h1#pillars Pillars
      p.
        The student award system falls around 4 pillars.
      h2 Leadership (L)
      p.
        Roles or designation that involves leadership within Club or Interest Groups under NUS SoC.
      ul
        li Management Committee of NUS Students' Computing Club
        li Core Team members of NUS Hackers
        li Project Director of major events such as GameCraft
      h2 Accomplishment (A)
      p.
        Students who attain a certain level of achievement while representing NUS SoC, NUS, or
        Singapore in a competition.
      ul
        li Winning in Hackathon
        li Getting medal in NUS Inter-Faculty Games
      h2 Service (S)
      p.
        Any experience that involves unpaid voluntary work under the name of NUS SoC that benefits
        the community in NUS or otherwise.
      ul
        li NUS Flag Day
        li Beneficiary Engagement Day
        li NUS SoC Code for Community
        li Community Involvement Programme (CIP)
        li Helpers for FOP, and other similar type events
      h2 Involvement (I)
      p.
        Any involvement in school based events or competitions that required active training or
        participation.
      ul
        li Representing SoC in IFG
        li Orientation Group Leaders for Freshmen Orientation Week
        li House Head for Orientation Camps
        li Committee for Freshmen Orientation Projects
      p.
        In order to achieve the SoC Student Awards students have to achieve points in the various
        Pillars and attendance in Enrichment Programmes.
      h1#application Application
      p.
        Submit your application
        #[a(href="https://mysurvey.nus.edu.sg/EFM/se/543BE5C26867C2A1", target="_blank") here].
      p.
        The system is currently unable to accept document uploads, so please send your supporting
        documents to the school via email to
        #[a(href="mailto:socfamily@comp.nus.edu.sg") socfamily@comp.nus.edu.sg]. Include your names
        in the file names and state "SoC Student Award" in the subject title.
      p.
        The application period for each cycle is 1 August to 31 July the following year, except
        for the current 2018 cycle where application will end on 15 October 2018.
