extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/about.css`)

block main
  .hero.hero-club
    .description
      h1 NUS Students' Computing Club
      p.
        The NUS Students’ Computing Club, colloquially referred to as the Computing Club, is a
        constituent club under the NUS Students’ Union (NUSSU). It comprises and represents all
        undergraduates pursuing a degree in NUS School of Computing.
      a(href=`${baseUrl}/about/club.html`) Learn more
  .hero.hero-mc
    .description
      h1 21st Management Committee
      p.
        We organize various events for our members to brighten their school life, help them along
        with school and provide opportunities to explore other academic and non-academic related interests.
        We are here as a club for students by students to listen to what our members want and put it into 
        action.
      a(href=`${baseUrl}/about/mc.html`) Learn more
