extends ../templates/base.pug

block head
  link(rel="stylesheet", href=`${baseUrl}/static/css/services.css`)

block main
  .heading
    h1 Our Services
    p We provides various logistical services that students can apply for.
  .container-services
    .service
      img(src=`${baseUrl}/static/images/services/extension_cord.svg`, alt="")
      .description
        h1 Extension Cord Loan
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id malesuada dui,
          vitae euismod sapien. Aliquam erat volutpat. Aliquam venenatis molestie felis, vel
          venenatis odio suscipit sed. Donec ultrices nunc quis dignissim egestas. Phasellus nunc
          dui, iaculis ac consectetur ut, euismod in mauris. Sed in diam suscipit, scelerisque ex
          tempus, rutrum libero.
    .service
      img(src=`${baseUrl}/static/images/services/board_game.svg`, alt="")
      .description
        h1 Board Games Loan
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id malesuada dui,
          vitae euismod sapien. Aliquam erat volutpat. Aliquam venenatis molestie felis, vel
          venenatis odio suscipit sed. Donec ultrices nunc quis dignissim egestas. Phasellus nunc
          dui, iaculis ac consectetur ut, euismod in mauris. Sed in diam suscipit, scelerisque ex
          tempus, rutrum libero.
    .service
      img(src=`${baseUrl}/static/images/services/locker.svg`, alt="")
      .description
        h1 Locker Service
        p.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id malesuada dui,
          vitae euismod sapien. Aliquam erat volutpat. Aliquam venenatis molestie felis, vel
          venenatis odio suscipit sed. Donec ultrices nunc quis dignissim egestas. Phasellus nunc
          dui, iaculis ac consectetur ut, euismod in mauris. Sed in diam suscipit, scelerisque ex
          tempus, rutrum libero.
