@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400');
@import url("https://use.fontawesome.com/releases/v5.1.1/css/all.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  color: #222222;
  font-family: "Open Sans", sans-serif;
}

header {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-around;
  }
}

header img {
  display: block;
  height: 2rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  header img {
    margin-bottom: 0;
  }
}

header .navigation a {
  color: #000000;
  font-size: 0.8rem;
  margin: 0 0.3rem;
  text-decoration: none;
}

header .navigation a:hover {
  color: #222288;
  text-decoration: underline;
}

footer {
  background-color: #000000;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

footer .citation {
  font-size: 0.8rem;
}

footer .citation a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}

footer .citation a:hover {
  color: #dddddd;
}

footer .social-links {
  margin-bottom: 0.5rem;
}

footer .social-links .social-link {
  display: inline-block;
  margin: 0 0.8rem;
  position: relative;
}

footer .social-links .social-link a {
  color: #ffffff;
}

footer .social-links .social-link a:hover {
  color: #dddddd;
}

footer .social-links .social-link .tooltip {
  background-color: #000000;
  color: #dddddd;
  font-size: 1rem;
  font-weight: 700;
  left: -2.5rem;
  position: absolute;
  top: -2.5rem;
  visibility: hidden;
  width: 6rem;
}

footer .social-links .social-link:hover .tooltip {
  visibility: visible;
}

.heading {
  padding: 3rem 2rem;
  text-align: center;
}

@media (min-width: 480px) {
  .heading {
    margin: 0 auto;
    width: 30rem;
  }
}

@media (min-width: 768px) {
  .heading {
    width: 48rem;
  }
}

.heading h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}

.heading p {
  font-weight: 300;
  margin-top: 0.8rem;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15rem 1rem 1rem 1rem;
}

.hero .description {
  background: #ffffffcc;
  padding: 2rem;
}

@media (min-width: 480px) {
  .hero .description {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .hero .description {
    width: 60%;
  }
}

.hero .description a {
  background-color: #009999;
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  margin-top: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}

.hero .description a:hover {
  background-color: #006666;
}

.hero .description h1 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
}

.hero .description p {
  font-weight: 300;
  margin-top: 0.8rem;
}
